En tête CSS

    /*CSS.CSS*/
    /*Crée par dave Jean Baptiste */
    /* Crée le 27 mai 2020*/

body {

    width: 980px;/* largeur du site web*/
    width: 100%; /* On pourrait aussi prendre 100% de la largeur */
    margin: auto; /* pour centrer le site en largeur */


}

.fondRouge{
    background-color: red;
    height: 100px;
}
.fondBleu{
    background-color: blue;
    height: 100px;
}
.fondVert{
    background-color: green;
    height: 100px;
}
.fondJaune{
    background-color: yellow;
    height: 100px;
}